<div class="wrapper">
    <sidenav-content></sidenav-content>     
    <div class="main-panel">    
        <navbar-content></navbar-content>                
        <div class="content" ng-controller="choferPerfilController as vm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <div class="image">
                                <img src="{{vm.myChofer.portada}}" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                    <img class="avatar border-white" src="{{vm.myChofer.perfil}}" alt="..."/>
                                    <h4 class="title">{{vm.myChofer.name}} {{vm.myChofer.lastname}}<br />
                                        <a href="#"><small>{{vm.myChofer.user}}</small></a>
                                    </h4>
                                </div>
                                <p class="description text-center">
                                    {{vm.myChofer.aboutme}}
                                </p> 
                                <p class="description"> Horario  </p> <!--Puedes tener un ng-repeat-->
                                <span class="text-big" ng-repeat="dia in vm.selected" >{{"  " + dia}}</span>
                                <br>
                                <span class="text-success">Available</span>
                            </div>
                            <hr>
                            <div class="text-center">
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5>{{vm.totalViajes}}<br /><small>Viajes</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>{{vm.totalRecorrido + " km"}}<br /><small>Recorridos</small></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>{{vm.totalVehiculos}}<br /><small>Vehículos</small></h5>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-3"> <!---->
                            <select-chofer ng-click="vm.cargarCifras(vm.myChofer.id)"></select-chofer>
                        </div>                        
                    </div>
                    
                    <div class="col-lg-8 col-md-7">
                        <div class="card card-table">
                            <div class="header">
                                <h4 class="title">Edita tu perfil</h4>
                            </div>
                            <div class="content">
                                <form ng-submit="vm.updateChofer()">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="dark-label">Company</label>
                                                <input type="text" class="form-control border-input" disabled placeholder="Company" value="TransGénova">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="dark-label">Username</label>
                                                <input type="text" class="form-control border-input" placeholder="Username" ng-model="vm.myChofer.user">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="dark-label" for="exampleInputEmail1">Correo electrónico</label>
                                                <input type="email" class="form-control border-input" placeholder="Email" ng-model="vm.myChofer.email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="dark-label">Nombre</label>
                                                <input type="text" class="form-control border-input" placeholder="Nombre" ng-model="vm.myChofer.name">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="dark-label">Apellido</label>
                                                <input type="text" class="form-control border-input" placeholder="Last Name" ng-model="vm.myChofer.lastname">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="dark-label">Teléfono</label>
                                                <input type="tel" class="form-control border-input" placeholder="Num Celular" ng-model="vm.myChofer.phone">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="dark-label">Dirección</label>
                                                <input type="text" class="form-control border-input" placeholder="Home Address" ng-model="vm.myChofer.homeaddress">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="dark-label">Ciudad</label>
                                                <input type="text" class="form-control border-input" placeholder="City" ng-model="vm.myChofer.city">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="dark-label">Estado</label>
                                                <input type="text" class="form-control border-input" placeholder="Estado" ng-model="vm.myChofer.state">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="dark-label">País</label>
                                                <input type="text" class="form-control border-input" placeholder="Country" ng-model="vm.myChofer.country">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="dark-label">About Me</label>
                                                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" ng-model="vm.myChofer.aboutme">
                                                    
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" >
                                        <div class="col-md-12">
                                                <label class="dark-label">Días de trabajo</label> 
                                                <ul class="dias-semana">
                                                    <li ng-repeat="dia in vm.dias">
                                                        <label class="dark-label">{{dia}}</label> 
                                                        <input type="checkbox" value="dia" checklist-value="dia" checklist-model="vm.selected">
                                                    </li>
                                                </ul>
                                        </div>
                                    </div> <!--Fin row-->

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>

                        <div class="card">
                            <div class="header">
                                <h4 class="title">Medio de Pago</h4>
                            </div>
                            <div class="content">
                                <form ng-submit="vm.updatePago()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="dark-label">Nombre titular</label>
                                                <input type="text" class="form-control border-input" placeholder="Nombre y apellido" ng-model="vm.myChofer.fullname">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="dark-label">Banco proveedor</label>
                                                    <input type="text" class="form-control border-input" placeholder="Banco" ng-model="vm.myChofer.banco">
                                                </div>
                                            </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="dark-label">Tipo de Cuenta</label>
                                                <input type="text" class="form-control border-input" placeholder="dd/mm/yyyy" ng-model="vm.myChofer.typeaccount">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="dark-label" for="exampleInputEmail1">Número de Cuenta</label>
                                                    <input type="text" class="form-control border-input" placeholder="Sin guiones ni espacios" ng-model="vm.myChofer.account">
                                                </div>
                                            </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="dark-label">Código de seguridad</label>
                                                <input type="text" class="form-control border-input" placeholder="ZIP Code" ng-model="vm.myChofer.codesecurity">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Todo correcto</button>
                                    </div> 
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div> <!--Fin container-fluid-->
        </div> <!--Fin content-->
        <footer-content></footer-content>
    </div> <!--Fin main-panel -->
</div>  <!--Fin wrapper-->
