<div class="wrapper">
    <sidenav-content></sidenav-content>     
    <div class="main-panel">    
        <navbar-content></navbar-content>                
        <div class="content">
            <div class="container-fluid">
                <div class="row tarjetas">
                    <div class="col-lg-8 col-md-7">
                            <div class="card card-table">
                                <div class="header">
                                    <h4 class="title">Proporciona datos para el viaje</h4>
                                </div>
                                <div class="content">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="dark-label">Estado Origen</label>
                                                    <input type="text" class="form-control border-input" placeholder="Estado Origen" >
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="dark-label">Municipio Origen</label>
                                                    <input type="text" class="form-control border-input" placeholder="Municipio Origen" >
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="dark-label">Ciudad origen</label>
                                                    <input type="text" class="form-control border-input" placeholder="Ciudad origen" >
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="dark-label">Dirección origen</label>
                                                    <input type="text" class="form-control border-input" placeholder="¿A qué dirección te recogemos?">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="dark-label">Estado Destino</label>
                                                    <input type="text" class="form-control border-input" placeholder="Estado Destino" >
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="dark-label">Municipio Destino</label>
                                                    <input type="text" class="form-control border-input" placeholder="Municipio Destino" >
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="dark-label">Ciudad Destino</label>
                                                    <input type="text" class="form-control border-input" placeholder="Ciudad Destino" >
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="dark-label">Dirección Destino</label>
                                                    <input type="text" class="form-control border-input" placeholder="¿A qué dirección deseas llegar?">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label class="dark-label">Tiempo estimado</label>
                                                    <input type="text" class="form-control border-input" disabled placeholder="Tiempo estimado" value="5 días">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="dark-label">Kilómetros</label>
                                                        <input type="text" class="form-control border-input" disabled placeholder="km" value="100 km">
                                                    </div>
                                                </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="dark-label">Número de viajeros</label>
                                                    <input type="text" class="form-control border-input" placeholder="¿Con cuántas personas va a viajar?">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-info btn-fill btn-wd">Planificar ahora</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>                  

            </div> <!--Fin container-fluid-->
        </div> <!--Fin content-->
        <footer-content></footer-content>
    </div> <!--Fin main-panel -->
</div>  <!--Fin wrapper-->
