<div ng-controller="listaUsuarioViajesController">
    
<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document"> <!--Por defecto 600px-->
            <div class="modal-content" >  <!--Aqui hay estilos asociados de bootstrap-->
                <div class="modal-header"> <!--Boton de cerrar modal-->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Información sobre tus viajes</h4>
                    <h3>Detalles del viaje seleccionado:</h3>
                </div>
                <div class="modal-body"  >
                    <p > ID del viaje: {{modaleishon.id}} </p>                  
                    <p > Fecha: {{modaleishon.fecha}} </p>    
                    <p > Hora: {{modaleishon.hora}} </p>    
                    <p > Nombre del chofer: {{ modaleishon.chofer }} </p>    
                    <p > Direccion inicial: {{modaleishon.direccionInicial}} </p>    
                    <p > Direccion final: {{modaleishon.direccionFinal}} </p>    
                    <p > Número de pasajeros: {{modaleishon.pasajeros}} </p>    
                    <p > Modelo del auto usado: {{modaleishon.vehiculo}} </p>    
                    <p > Distancia recorrida: {{modaleishon.km}} </p> 
                    <p > Tiempo de espera: {{modaleishon.tiempoEspera}} </p>    
                    <p > Precio: {{ modaleishon.precio }} </p>    
                </div>
            </div>
        </div>
    </div>


<div class="wrapper">
    <sidenav-content></sidenav-content>     
    <div class="main-panel">    
        <navbar-content></navbar-content>                
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-table">
                            <div class="header">
                                <h4 class="title">Tabla de viajes largos</h4>
                                <p class="category dark-label">Consulta aquí todos los viajes largos que has hecho con nosotros</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                
                                <table class="table table-striped ">
                                    <thead>
                                        <th>Num°</th>
                                        <th>Name Chofer</th>
                                        <th>Price</th>
                                        <th>Origen</th>
                                        <th>Destino</th>
                                    </thead>
                                    <tbody>
                                        <tr data-toggle="modal" data-target="#modalUser" ng-repeat="viaje in model" ng-click="onViajeUser(viaje.id)">
                                            <td>{{viaje.id}}</td>
                                            <td>{{viaje.chofer}}</td>
                                            <td>{{viaje.precio}}</td>
                                            <td>{{viaje.origen}}</td>
                                            <td>{{viaje.destino}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">Tabla de viajes cortos</h4>
                                <p class="category">Consulta todos los taxis que has tomado con nosotros</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-color">
                                    <thead>
                                        <th>Num°</th>
                                        <th>Name chofer</th>
                                        <th>Precio</th>
                                        <th>Ciudad</th>
                                        <th>Sector origen</th>
                                        <th>Sector destino</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="viaje in model2" ng-click="onViajeUser(viaje.id)" data-toggle="modal" data-target="#modalUser" >
                                            <td>{{viaje.id}}</td>
                                            <td>{{viaje.chofer}}</td>
                                            <td>{{viaje.precio}}</td>
                                            <td>{{viaje.ciudad}}</td>
                                            <td>{{viaje.origen}}</td>
                                            <td>{{viaje.destino}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!--Fin container-fluid-->
            <footer-content></footer-content>
        </div> <!--Fin content-->
       
    </div> <!--Fin main-panel -->
</div>  <!--Fin wrapper-->

</div>
