<div class="wrapper">
    <sidenav-content></sidenav-content>     
    <div class="main-panel">    
        <navbar-content></navbar-content>                
        <div class="content" ng-controller="userPerfilController">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <div class="image">
                                <img src="{{myCliente.portada}}" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author" >
                                    <img class="avatar border-white" src="{{myCliente.perfil}}" alt="..."/>
                                    <h4 class="title">{{myCliente.name}} {{myCliente.lastname}}<br />
                                        <a href="#"><small>{{myCliente.user}}</small></a>
                                    </h4>
                                </div>
                                <p class="description text-center">
                                    {{myCliente.aboutme}}
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>{{totalViajes}}<br /><small>Viajes</small></h6>
                                    </div>
                                    <div class="col-md-4">
                                        <h6>{{totalRecorrido + " km"}}<br /><small>Recorridos</small></h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h6>{{totalInvertido + " bs S"}}<br /><small>Invertido</small></h6>
                                    </div>
                                </div>
                            </div>
                            
                            <br>
                        </div>
                        
                        
                        <div class="col-md-3">
                                <select class="custom-select" ng-model="myCliente" class="dark-label" 
                                ng-options="cliente.fullname for cliente in clientes"  ng-click="cargarCifras(myCliente.id)"></select>
                        </div> 
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card card-table">
                            <div class="header">
                                <h4 class="title">Edita tu Perfil</h4>
                            </div>
                            <div class="content">
                                <form ng-submit="updateUsuario()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" >
                                                <label class="dark-label" >Username</label>
                                                <input type="text" class="form-control border-input" placeholder="Username" ng-model="myCliente.user"  >
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="dark-label" for="exampleInputEmail1">Correo electrónico</label>
                                                <input type="email" class="form-control border-input" placeholder="Email" ng-model="myCliente.email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="dark-label">Nombre</label>
                                                <input type="text" class="form-control border-input" placeholder="Name" ng-model="myCliente.name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="dark-label">Apellido</label>
                                                <input type="text" class="form-control border-input" placeholder="Last Name" ng-model="myCliente.lastname">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="dark-label">Dirección</label>
                                                <input type="text" class="form-control border-input" placeholder="Home Address" ng-model="myCliente.homeaddress">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="dark-label">Ciudad</label>
                                                <input type="text" class="form-control border-input" placeholder="City" ng-model="myCliente.city">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="dark-label">Estado</label>
                                                <input type="text" class="form-control border-input" placeholder="Estado" ng-model="myCliente.state">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="dark-label">País</label>
                                                <input type="text" class="form-control border-input" placeholder="Country" ng-model="myCliente.country">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="dark-label">About Me</label>
                                                <textarea rows="4" class="form-control border-input" placeholder="Here can be your description" ng-model="myCliente.aboutme">                                                   
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Actualizar perfil</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="card">
                                <div class="header">
                                    <h4 class="title">Medio de Pago</h4>
                                </div>
                                <div class="content">
                                    <form ng-submit="updatePago()">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="dark-label">Nombre titular</label>
                                                    <input type="text" class="form-control border-input" placeholder="Nombre y apellido" ng-model="myCliente.fullname">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="dark-label">Banco proveedor</label>
                                                        <input type="text" class="form-control border-input" placeholder="Banco proveedor" ng-model="myCliente.banco">
                                                    </div>
                                                </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="dark-label">Fecha de Vencimiento</label>
                                                    <input type="text" class="form-control border-input" placeholder="dd/mm/yyyy" ng-model="myCliente.fvencimiento">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="dark-label" for="exampleInputEmail1">Número de tarjeta de Crédito</label>
                                                        <input type="text" class="form-control border-input" placeholder="Sin guiones ni espacios" ng-model="myCliente.creditcard">
                                                    </div>
                                                </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="dark-label">Código de seguridad</label>
                                                    <input type="text" class="form-control border-input" placeholder="ZIP Code" ng-model="myCliente.codesecurity">
                                                </div>
                                            </div>
                                        </div>
                                         <div class="text-center">
                                            <button type="submit" class="btn btn-info btn-fill btn-wd">Todo correcto</button>
                                        </div> 
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>

            </div> <!--Fin container-fluid-->
        </div> <!--Fin content-->
        <footer-content></footer-content>
    </div> <!--Fin main-panel -->
</div>  <!--Fin wrapper-->