<div class="wrapper">
    <sidenav-content></sidenav-content>     
    <div class="main-panel">    
        <navbar-content></navbar-content>                
        <div class="content" ng-controller="userPerfilController as vm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <div class="image">
                                <img src="{{vm.myCliente.portada}}" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author" >
                                    <img class="avatar border-white" src="{{vm.myCliente.perfil}}" alt="..."/>
                                    <h4 class="title">{{vm.myCliente.name}} {{vm.myCliente.lastname}}<br />
                                        <a href="#"><small>{{vm.myCliente.user}}</small></a>
                                    </h4>
                                </div>
                                <p class="description text-center">
                                    {{vm.myCliente.aboutme}}
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>{{vm.totalViajes}}<br /><small>Viajes</small></h6>
                                    </div>
                                    <div class="col-md-4">
                                        <h6>{{vm.totalRecorrido + " km"}}<br /><small>Recorridos</small></h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h6>{{vm.totalInvertido + " bs S"}}<br /><small>Invertido</small></h6>
                                    </div>
                                </div>
                            </div>
                            
                            <br>
                        </div>
                        
                        
                        <div class="col-md-3">
                                <select-user ng-click="vm.cargarCifras(vm.myCliente.id)"></select-user>
                        </div> 
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card card-table">
                            <div class="header">
                                <h4 class="title">Edita tu Perfil</h4>
                            </div>
                            <div class="content">
                                <form ng-submit="vm.updateUsuario()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" >
                                                <label class="dark-label" >Username</label>
                                                <input type="text" class="form-control border-input" placeholder="Username" ng-model="vm.myCliente.user"  >
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="dark-label" for="exampleInputEmail1">Correo electrónico</label>
                                                <input type="email" class="form-control border-input" placeholder="Email" ng-model="vm.myCliente.email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="dark-label">Nombre</label>
                                                <input type="text" class="form-control border-input" placeholder="Name" ng-model="vm.myCliente.name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="dark-label">Apellido</label>
                                                <input type="text" class="form-control border-input" placeholder="Last Name" ng-model="vm.myCliente.lastname">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="dark-label">Dirección</label>
                                                <input type="text" class="form-control border-input" placeholder="Home Address" ng-model="vm.myCliente.homeaddress">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="dark-label">Ciudad</label>
                                                <input type="text" class="form-control border-input" placeholder="City" ng-model="vm.myCliente.city">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="dark-label">Estado</label>
                                                <input type="text" class="form-control border-input" placeholder="Estado" ng-model="vm.myCliente.state">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="dark-label">País</label>
                                                <input type="text" class="form-control border-input" placeholder="Country" ng-model="vm.myCliente.country">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="dark-label">About Me</label>
                                                <textarea rows="4" class="form-control border-input" placeholder="Here can be your description" ng-model="vm.myCliente.aboutme">                                                   
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Actualizar perfil</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="card">
                                <div class="header">
                                    <h4 class="title">Medio de Pago</h4>
                                </div>
                                <div class="content">
                                    <form ng-submit="vm.updatePago()">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="dark-label">Nombre titular</label>
                                                    <input type="text" class="form-control border-input" placeholder="Nombre y apellido" ng-model="vm.myCliente.fullname">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="dark-label">Banco proveedor</label>
                                                        <input type="text" class="form-control border-input" placeholder="Banco proveedor" ng-model="vm.myCliente.banco">
                                                    </div>
                                                </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="dark-label">Fecha de Vencimiento</label>
                                                    <input type="text" class="form-control border-input" placeholder="dd/mm/yyyy" ng-model="vm.myCliente.fvencimiento">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="dark-label" for="exampleInputEmail1">Número de tarjeta de Crédito</label>
                                                        <input type="text" class="form-control border-input" placeholder="Sin guiones ni espacios" ng-model="vm.myCliente.creditcard">
                                                    </div>
                                                </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="dark-label">Código de seguridad</label>
                                                    <input type="text" class="form-control border-input" placeholder="ZIP Code" ng-model="vm.myCliente.codesecurity">
                                                </div>
                                            </div>
                                        </div>
                                         <div class="text-center">
                                            <button type="submit" class="btn btn-info btn-fill btn-wd">Todo correcto</button>
                                        </div> 
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>

            </div> <!--Fin container-fluid-->
        </div> <!--Fin content-->
        <footer-content></footer-content>
    </div> <!--Fin main-panel -->
</div>  <!--Fin wrapper-->