<header>
    <!--Incluye todo lo que es el menú que está en la cabecera de la página-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">TransGénova</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button> -->
      <!--Div con la lista que incluye opciones del menú del narvar-->
      <div class="collapse navbar-collapse " id="navbarsExampleDefault">
        <ul class="nav navbar-nav mr-auto sin-estilo">
            <li class="nav-item">
              <a class="nav-link" href="#!principal"> Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!info#contacto">Contacto</a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" href="#!info#nosotros">Sobre nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!estadisticasU">Entra !</a>
            </li>
         </ul>
      </div>
    </nav>
    <!--Fin del navbar-->
  </header>