
<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="#">Página</a>
            </div> <!--Fin de botón navbar header-->
    
            <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#principal" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="ti-home"></i>
                            <p>Inicio</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="ti-email"></i>
                            <p>Contacto</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" > 
                            <i class="ti-car"></i>
                            <p>Ser chofer</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"  >
                            <i class="ti-face-smile"></i>
                            <p>Ser cliente</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="ti-info-alt"></i>
                            <p>Sobre nosotros</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="ti-power-off"></i>
                            <p>Salir</p>
                        </a>
                    </li>
                </ul>
        </div>  <!--Termina container fluid-->
    </nav> <!--Termina el navbar-->