<div  ng-controller="listaChoferViajesController as vm">

<div class="modal fade" id="modalChofer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document"> <!--Por defecto 600px-->
            <div class="modal-content">  <!--Aqui hay estilos asociados de bootstrap-->
                <div class="modal-header"> <!--Boton de cerrar modal-->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Consulta tus viajes en detalle</h4>
                    <h3>Tus viajes</h3>
                </div>
                <div class="modal-body">
					<p > ID del viaje: {{vm.detalle.id}} </p>                  
                    <p > Fecha: {{vm.detalle.fecha}} </p>    
                    <p > Hora: {{vm.detalle.hora}} </p>    
                    <p > Nombre del cliente: {{ vm.detalle.cliente }} </p>    
                    <p > Direccion inicial: {{vm.detalle.direccionInicial}} </p>    
                    <p > Direccion final: {{vm.detalle.direccionFinal}} </p>    
                    <p > Número de pasajeros: {{vm.detalle.pasajeros}} </p>    
                    <p > Modelo del auto usado: {{vm.detalle.vehiculo}} </p>    
                    <p > Distancia recorrida: {{vm.detalle.km}} </p> 
                    <p > Tiempo de espera: {{vm.detalle.tiempoEspera}} </p>    
					<p > Precio: {{ vm.detalle.precio }} </p>  
                </div>
            </div>
        </div>
    </div>

<div class="wrapper">
		<sidenav-content></sidenav-content>     
		<div class="main-panel">    
			<navbar-content></navbar-content>                
			<div class="content">
				<div class="container-fluid"></div> 

					<div class="row">
						<div class="col-md-3">
							<select class="custom-select" ng-model="myChofer" class="dark-label" 
							ng-options="chofer.fullname for chofer in vm.choferes" ng-click="vm.cargarViajes(vm.myChofer.id)"></select>
						</div>  
					</div>
					
					<br>
					<div class="row">
						
						<div class="col-md-12">
							<div class="card card-table">
								<div class="header">
									<h4 class="title">Tabla de viajes largos</h4>
									<p class="category dark-label">Consulta aquí todos los viajes largos que has realizado</p>
								</div>
								<div class="content table-responsive table-full-width">
									
									<table class="table table-striped ">
										<thead>
											<th>Num°</th>
											<th>Name Client</th>
											<th>Vehicle</th>
											<th>Price</th>
											<th>Origen</th>
											<th>Destino</th>
										</thead>
										<tbody>
											<tr ng-repeat="viaje in vm.model" >
												<td>{{viaje.id}}</td>
												<td>{{viaje.cliente}}</td>
												<td>{{viaje.vehiculo}}</td>
												<td>{{viaje.precio}}</td>
												<td>{{viaje.origen}}</td>
												<td>{{viaje.destino}}</td>
												<td> <button type="button" class="btn btn-dark btn-sm " ng-click="vm.delete(viaje.id)">Eliminar</button> </td>
                                            <td> <button type="button" data-toggle="modal" data-target="#modalChofer"  class="btn btn-success btn-sm" ng-click="vm.onViajeChofer(viaje.id)">Ver</button> </td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div> <!--fin row-->
					<div class="row">
						<div class="col-md-12">
							<div class="card card-plain">
								<div class="header">
									<h4 class="title">Tabla de viajes cortos</h4>
									<p class="category">Consulta todos los taxis que has realizado</p>
								</div>
								<div class="content table-responsive table-full-width">
									<table class="table table-hover table-color">
										<thead>
											<th>Num°</th>
											<th>Name client</th>
											<th>Vehicle</th>
											<th>Precio</th>
											<th>Ciudad</th>
											<th>Sector origen</th>
											<th>Sector destino</th>
										</thead>
										<tbody>
											<tr ng-repeat="viaje in vm.model2" >
												<td>{{viaje.id}}</td>
												<td>{{viaje.cliente}}</td>
												<td>{{viaje.vehiculo}}</td>
												<td>{{viaje.precio}}</td>
												<td>{{viaje.ciudad}}</td>
												<td>{{viaje.origen}}</td>
												<td>{{viaje.destino}}</td>
												<td> <button type="button" class="btn btn-danger btn-sm" ng-click="vm.delete(viaje.id)">Eliminar</button> </td>
                                          	    <td> <button type="button" data-toggle="modal" data-target="#modalChofer" class="btn btn-warning btn-sm" ng-click="vm.onViajeChofer(viaje.id)">Ver</button> </td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div> <!--Fin row-->

				</div> <!--Fin container-fluid-->
				<footer-content></footer-content>
			</div> <!--Fin content-->
			
		</div> <!--Fin main-panel -->
	</div>  <!--Fin wrapper-->

</div>

